{% extends "index.html" %}

{% block saturs %}
<div class="container bootstrap">
  <div class="row info-box">
    <div class="col-md-6">
      <h2>⌘ StartIT tērzētava</h2>
    </div>
    <div class="col-md-6">
      <p id="versija"></p>
    </div>
  </div>
  <div class="row">
    <!-- selected chat -->
    <div class="col">
      <div class="chat-message">
        <ul class="chat" id="chats">
            <li class="left clearfix">
            </li>                   
        </ul>
      </div>           
    </div>
    <div class="col" style="background:white; border:1px solid grey">
      <iframe src="https://rezultati-spelei.armandspucs.repl.co/chatgame" style="width:100%; height:400px">
      </iframe>
      <iframe src="about:blank" id="action_frame" style="display:none"></iframe>
      <span id="player_info">
      Vārds: <input id="vards" value="Pēcis" /> <input type="button" value="Pievienoties spēlei" onclick="add_player()" />
      </span>
      <script>
      function add_player()
      {
        document.getElementById('action_frame').src='https://rezultati-spelei.armandspucs.repl.co/chatgame?action=add_player&vards='+document.getElementById('vards').value;
        document.getElementById('player_info').style.display='none';
      }
      function rem_player()
      {
        document.getElementById('action_frame').src='https://rezultati-spelei.armandspucs.repl.co/chatgame?action=rem_player&vards='+document.getElementById('vards').value;
        console.log('noņemam spēlētāju');
        document.getElementById('player_info').style.display='block';
      }
      function set_player_x(nr)
      {
        document.getElementById('action_frame').src='https://rezultati-spelei.armandspucs.repl.co/chatgame?action=set_player_x&punkti='+nr+'&vards='+document.getElementById('vards').value;
        console.log('liekam x');
      }
      function set_player_y(nr)
      {
        document.getElementById('action_frame').src='https://rezultati-spelei.armandspucs.repl.co/chatgame?action=set_player_y&punkti='+nr+'&vards='+document.getElementById('vards').value;
        console.log('liekam y');
      }
      </script>
    </div>
  </div>
  <div class="row">
    <div class="chat-box">
      <div class="input-group">
        <input id="zina" class="form-control border no-shadow no-rounded" placeholder="Rakstiet savu ziņu un spiediet Enter vai Sūtīt" type="text">
        <span class="input-group-btn">
          <button onClick="suti_zinu();" class="btn btn-success no-rounded" type="button">Sūtīt</button>
        </span>
      </div><!-- /input-group -->	
    </div> 
  </div>
</div>

<script>

</script>

{% endblock %}